<h1><%= t('paper_trail_manager.changes.show.title', id: @version.id) %></h1>

<table class='changes_table'>
  <tr class='changes_header'>
    <th class='change_time'><%= t('paper_trail_manager.changes.show.time') %></th>
    <th class='change_details'><%= t('paper_trail_manager.changes.show.details') %></th>
    <%= render :partial => 'version', :object => @version %>
  </tr>
</table>

